# Cấu hình của Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Thư mục build (chứa .exe, .dll, .obj...)
x64/
Debug/
Release/
Win32/
Win64/
bin/
obj/

# Các file cache và file build tạm
ipch/
AutoPCH/
*.VC.db
*.ipch
*.pch
*.pdb
*.ilk
*.obj
*.tlog
*.log

# Các file thực thi và thư viện
*.exe
*.dll

# Bỏ qua các thư viện do vcpkg tự động cài đặt
vcpkg_installed/

# Ngăn thư mục NuGet tải về (QUAN TRỌNG NHẤT)
packages/